WebApplication4/Service References/SyTicketsSvc/SyTickets.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8080/SyTickets/SyTickets.Sessions.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SyTickets" />
  <xs:import schemaLocation="http://localhost:8080/SyTickets/SyTickets.Sessions.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:8080/SyTickets/SyTickets.Sessions.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System.IO" />
  <xs:element name="GetAllSessions">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllSessionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SyTickets" minOccurs="0" name="GetAllSessionsResult" nillable="true" type="q1:ArrayOfSySession" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSessionsByCinema">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cinemaId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSessionsByCinemaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SyTickets" minOccurs="0" name="GetSessionsByCinemaResult" nillable="true" type="q2:ArrayOfSySession" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSessionsBySessionBusinessDate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionBusinessDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSessionsBySessionBusinessDateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SyTickets" minOccurs="0" name="GetSessionsBySessionBusinessDateResult" nillable="true" type="q3:ArrayOfSySession" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSessionsByCinemaAndSessionBusinessDate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cinemaId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sessionBusinessDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSessionsByCinemaAndSessionBusinessDateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SyTickets" minOccurs="0" name="GetSessionsByCinemaAndSessionBusinessDateResult" nillable="true" type="q4:ArrayOfSySession" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSessionsByScheduledFilmAndSessionBusinessDate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="scheduledFilmId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sessionBusinessDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSessionsByScheduledFilmAndSessionBusinessDateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SyTickets" minOccurs="0" name="GetSessionsByScheduledFilmAndSessionBusinessDateResult" nillable="true" type="q5:ArrayOfSySession" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllFilms">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllFilmsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/SyTickets" minOccurs="0" name="GetAllFilmsResult" nillable="true" type="q6:ArrayOfSyFilm" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFilmsByCinema">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cinemaId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFilmsByCinemaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/SyTickets" minOccurs="0" name="GetFilmsByCinemaResult" nillable="true" type="q7:ArrayOfSyFilm" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTicketTypes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cinemaid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sessionid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTicketTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/SyTickets" minOccurs="0" name="GetTicketTypesResult" nillable="true" type="q8:ArrayOfSyRestTicketType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRestAddTickets">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cinemaid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sessionid" nillable="true" type="xs:string" />
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/SyTickets" minOccurs="0" name="syTicketTypes" nillable="true" type="q9:ArrayOfSyTicketType" />
        <xs:element minOccurs="0" name="processOrderValue" type="xs:boolean" />
        <xs:element minOccurs="0" name="userSelectedSeatingSupported" type="xs:boolean" />
        <xs:element minOccurs="0" name="skipAutoAllocation" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRestAddTicketsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/SyTickets" minOccurs="0" name="GetRestAddTicketsResult" nillable="true" type="q10:SySeatLayoutData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userSessionId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CancelOrderResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CompleteOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userSessionId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="paymentValueCents" type="xs:int" />
        <xs:element minOccurs="0" name="bookingNotes" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="unpaidBooking" type="xs:boolean" />
        <xs:element minOccurs="0" name="customerEmail" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="customerPhone" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="customerName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CompleteOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/SyTickets" minOccurs="0" name="CompleteOrderResult" nillable="true" type="q11:SyCompleteOrderResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SySetSelectedSeats">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userSessionId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cinemaId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sessionId" nillable="true" type="xs:string" />
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/SyTickets" minOccurs="0" name="sySelectedSeats" nillable="true" type="q12:ArrayOfSySelectedSeat" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SySetSelectedSeatsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SySetSelectedSeatsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTaslinkOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="amount" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="uri" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTaslinkOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/SyTickets" minOccurs="0" name="GetTaslinkOrderResult" nillable="true" type="q13:TaslinkOrderResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTaslinkStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="oid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTaslinkStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/SyTickets" minOccurs="0" name="GetTaslinkStatusResult" nillable="true" type="q14:TaslinkStatusResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTaslinkReverse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="oid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTaslinkReverseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/SyTickets" minOccurs="0" name="GetTaslinkReverseResult" nillable="true" type="q15:TaslinkReverseResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCinemas">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCinemasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/SyTickets" minOccurs="0" name="GetCinemasResult" nillable="true" type="q16:ArrayOfSyCinema" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCinemaByCinemaID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cinemaId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCinemaByCinemaIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCinemaByCinemaIDResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCinemasByCity">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="city" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCinemasByCityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/SyTickets" minOccurs="0" name="GetCinemasByCityResult" nillable="true" type="q17:ArrayOfSyCinema" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFilmByScheduledFilmId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="scheduledFilmId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFilmByScheduledFilmIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetFilmByScheduledFilmIdResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDistinctSessionDate">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDistinctSessionDateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetDistinctSessionDateResult" nillable="true" type="q18:ArrayOfdateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GeneratePdf">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="printStream" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GeneratePdfResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/System.IO" minOccurs="0" name="GeneratePdfResult" nillable="true" type="q19:MemoryStream" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCities">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCitiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetCitiesResult" nillable="true" type="q20:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>